.list-link {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 2.4rem 0;
  border-top: 1px solid var(--color-grey-1);

  @include hover {
    .list-link__title {
      color: var(--color-accent);
    }
  }

  @include --mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  time {
    min-width: 11.4rem;
    color: var(--color-grey-3);
    font-size: 1.4rem;
    font-family: $robotoFont;
    opacity: 0.6;
  }

  &__link {
    display: flex;
    flex: 1;
    align-items: center;

    &::before {
      position: absolute;
      inset: 0;
      content: '';
    }
  }

  svg {
    @include box(3rem);
    flex-shrink: 0;
    margin-left: auto;
    transition: color $default-tr;

    @include --mobile {
      display: inline-block;
      margin: 0 0 0 0.8rem;
      vertical-align: middle;
    }
  }

  &__title {
    @include text-button-medium;

    display: flex;
    flex: 1;
    gap: 1.6rem;
    align-items: center;
    transition: color $default-tr;

    @include --mobile {
      display: block;
    }
  }

  &__category {
    @include caption;

    color: var(--color-grey-1);
    transition: color $default-tr;
  }

  &__file-info {
    @include text-button;

    flex-shrink: 0;
    color: var(--color-grey-3);
    opacity: 0.6;

    @include --tablet {
      margin: 0 0.8rem;
    }
  }
}
