.category-menu-item {
  $self: &;

  &__label {
    @include text-button-sm;

    display: flex;
    gap: 0.8rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    font-weight: 400;
    line-height: normal;
    transition: background-color $default-tr;

    @include hover {
      background-color: var(--color-grey-6);
    }

    svg {
      flex-shrink: 0;
      align-self: center;
      width: 1.18rem;
      height: 1.35rem;
    }

    #{$self}._active & {
      background-color: var(--color-grey-4);
      pointer-events: none;
    }

    #{$self}._sub & {
      padding: 1.2rem 1.2rem 1.2rem 3.2rem;
    }
  }

  &__amount {
    margin-left: auto;
    color: var(--color-grey-3);
  }
}
