.contact-form {

  &._cart {
    .app-grid {
      // grid-template-rows: repeat(4, auto);
      column-gap: 9.6rem;

      .contact-form__wrapper {
        height: min-content;
        position: sticky;
        top: calc(var(--header-height) + 12px);

        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        order: 3;

        @include --tablet {
          position: static;
        }
      }

      @include --tablet {
        grid-template-rows: auto;
      }
    }
  }

  .app-grid {
    row-gap: 4rem;

    @include --tablet {
      gap: 3.2rem;
    }
  }

  &__cart {
    position: relative;
    // grid-row: span 4;
    grid-column: span 2;
    order: 1;

    @include --tablet {
      grid-row: auto;
      grid-column: auto;
    }
  }

  &__description {
    // max-width: 31.7rem;
    color: var(--color-grey-3);

    img {
      height: 12rem;
      object-fit: contain;
    }

    ._cart & {
      display: none;

      @include --tablet {
        display: block;
        order: 2;
        margin: 3.2rem 0 0;
      }
    }

    @include --tablet {
      display: flex;
      align-items: center;
    }
  }

  &__agreement {
    @include text-sm;

    ._cart & {
      order: 6;

      .text-content {
        color: var(--color-grey-1);
      }

      @include --tablet {
        order: 5;
      }
    }

    &._grid-column-1-3 {
      grid-column: 1 / 3 !important;

      @include --tablet {
        grid-column: auto !important;
      }
    }

    color: var(--color-grey-1);

    @include --tablet {
      @include text-xs;

      order: 2;
    }
  }

  &__inputs {
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 5rem;

    .ui-text-field {
      grid-column: 1 / 2;
    }

    ._cart & {
      grid-column: 3 / 4;
      grid-template-columns: 1fr;
      order: 2;

      @include --tablet {
        grid-column: auto;
        order: 3;
      }

      > .ui-text-field {
        &:first-child {
          display: none;
        }
      }
    }

    @include --tablet {
      grid-column: auto;
      grid-template-columns: 1fr;
    }
  }

  &__textarea {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 5;
    grid-column: 2;

    @include --tablet {
      grid-row: auto;
      grid-column: auto;
    }

    ._cart & {
      grid-row: auto;
      grid-column: auto;
    }

    .ui-text-field {
      flex: 1;

      textarea {
        display: block;
        height: 100%;
        resize: none;

        @include --tablet {
          height: fit-content;
          min-height: 9.6rem;
        }
      }
    }
  }

  &__submit-button {
    margin-left: auto;

    ._cart & {
      order: 5;
      margin-left: 0;

      @include --tablet {
        order: 6;
      }
    }

    @include --tablet {
      order: 1;

      margin-left: 0;

      .btn {
        width: 100%;
      }
    }
  }

  &__file-upload {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 5rem 0 0;

    ._cart & {
      order: 3;
      padding: 0;
    }

    @include --tablet {
      padding: 0;
    }

    input[type='file'] {
      &.is-invalid + label {
        border-color: var(--error-color);
      }
    }

    label {
      @include text-sm;

      display: flex;
      flex-shrink: 0;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      max-width: 42rem;
      height: 9rem;
      padding: 1rem;
      border: 1px dashed var(--color-grey-6);
      border-radius: 1rem;
      cursor: pointer;
      transition: opacity $default-tr, border-color $default-tr;

      @include --tablet {
        max-width: none;
      }

      @include hover {
        border-color: var(--color-grey-3);
        opacity: 0.8;
      }

      + .ui-file {
        margin-top: 2rem;
      }

      span {
        display: inline-flex;
        align-items: center;
      }

      svg {
        @include box(3rem);
        flex-shrink: 0;
      }
    }
  }

  &__no-items {
    @include box(100%);
    @include lead;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-grey-1);
  }
}
