.faq-item {
  padding: 24px 0;
  border-bottom: 1px solid var(--color-grey-1);

  &:first-child {
    border-top: 1px solid var(--color-grey-1);
  }

  &._opened {
    .faq-icon {
      transform: scaleX(-1);
    }
  }

  .faq-question {
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 150%;
  }

  .faq-icon {
    width: 1.6rem;
    height: 1.6rem;
    background: url('/i/sprite/logo-chevron-right.svg') no-repeat center;
    background-size: contain;
    rotate: 90deg;
    transition: transform 0.3s ease;
  }

  .faq-answer {
    transition: 0.5s;
    overflow: hidden;
    height: 0px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 175%;

    &__inner {
      margin-top: 2rem;
    }
  }
}