.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  border-bottom: 1px solid var(--color-grey-6);
  background-color: var(--element-background);

  [data-catalog-submenu-nav]:not(._visible) {
    [data-catalog-submenu] {
      display: none !important;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--element-background);
    z-index: $layer-page-z-index;

    @include --tablet {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 11;
      width: 100%;
      padding: 2.5rem 1.6rem;
      border-bottom: 1px solid var(--color-grey-6);
    }
  }

  &__menu {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
    background-color: var(--element-background);
    transition: transform 0.35s ease-out;
    z-index: $base_project_layer;

    ._menu-shown & {
      @include --tablet {
        box-shadow: var(--menu-shadow);
        transform: translateX(0%);
      }
    }

    @include --tablet {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 11;
      flex-direction: column;
      gap: 6.4rem;
      width: 100%;
      height: 100vh;
      padding: 16rem 3.2rem 3.2rem;
      overflow-y: auto;
      transform: translateX(-100%);
    }

    @include --mobile {
      width: 100%;
      padding: 9rem 1.6rem 3.2rem;
    }
  }

  &__menu-top {
    display: none;
    align-items: center;
    justify-content: space-between;
    min-height: 9.6rem;
    padding: 2.5rem 0;
    background-color: var(--element-background);

    @include --tablet {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      width: 100%;
      padding: 2.5rem 3.2rem;
    }

    @include --mobile {
      padding: 2.5rem 1.6rem;
    }
  }

  &__burger-button {
    @include box(4rem);

    display: none;

    @include --tablet {
      display: block;
    }

    svg {
      @include box(4rem);
    }

    ._opened & {
      display: block;

      svg {
        &._icon-burger-opened {
          display: block;
        }
      }
    }
  }

  &__content {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: space-between;
    min-height: 9.6rem;
    position: relative;

    @include --tablet {
      flex-direction: column;
      align-items: stretch;
      min-height: 8.8rem;
    }
  }

  &__main-nav {
    flex: 1;
    max-width: 948px;

    @include --tablet {
      flex: none;
      z-index: 1;
    }

    > ul {
      @include text-button;

      display: flex;
      gap: 1rem;
      padding: 0 1.5rem;
      justify-content: space-between;

      @include --tablet {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
      }
    }

    a.main_link {
      @include text-button;

      position: relative;
      display: block;

      @include --tablet {
        max-width: fit-content;
        font-size: 1.9rem;
      }

      &._active {
        &::before {
          position: absolute;
          bottom: -0.6rem;
          width: 100%;
          height: 2px;
          background-color: var(--color-accent);
          transform: scaleX(1);
          transform-origin: center left;
          content: '';
        }

        @include --tablet {
          &::before {
            bottom: 0px;
          }
        }
      }

      &::before {
        position: absolute;
        bottom: -0.6rem;
        width: 100%;
        height: 2px;
        background-color: var(--color-accent);
        transform: scaleX(0);
        transform-origin: center right;
        transition: transform $default-tr;
        z-index: $base_project_layer;
        content: '';
      }
    }
  }

  &__main-nav-item {
    a.main_link {
      @include hover {
        &::before {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }
  }

  &__main-nav-dropdown {
    &:not(._catalog) {
      position: relative;
    }
    
    .dropdown-link {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 10px;
      width: fit-content;

      svg {
        display: none;

        @include --tablet {
          display: block;
          width: 1.5rem;
          height: .85rem;
        }
      }
    }

    a.hover_link {
      transition: color $default-tr;

      @include hover {
        color: var(--color-accent);
      }

      @include --tablet {
        font-size: 1.9rem;
      }
    }

    ul {
      position: absolute;
      top: -1.2rem;
      left: -1.2rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 1.2rem;
      border-radius: 0.4rem;
      background-color: var(--element-background);
      visibility: hidden;
      opacity: 0;
      transition: opacity $default-tr, visibility 0s 0.3s;
    }

    @include hover {
      .dropdown-content:not(._catalog) {
        z-index: 1;
        visibility: visible;
        opacity: 1;
        transition: opacity $default-tr;
      }
    }

    &._catalog {
      .dropdown-content {
        position: absolute;
        left: 50%;
        bottom: 37px;
        transform: translate(-50%, 100%);
        
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 20px;
        padding: 55px 60px 14px 60px;
        background-color:  var(--submenu-background);
        border-radius: 0px 0px 20px 20px;

        .dropdown-overlay {
          position: absolute;
          top: 37px;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 0 0 20px 20px;
          box-shadow: 0px 12px 15px 0px #00000026;
          z-index: -1;
        }

        .dropdown-catalog {
          &__card {
            padding: 10px 22px 10px 8px;
            display: flex;
            column-gap: 20px;
            border: 1px solid var(--submenu-card-border);
    
            &-img {
              max-width: 130px;
    
              img {
                width: 100%;
                object-fit: cover;
              }

              @include --tablet {
                margin-right: 10px;
                margin-bottom: 6px;
              }
  
              @include --mobile {
                max-width: 70px;
              }
            }
    
            &-sections {
              display: flex;
              flex-direction: column;
              padding-top: 8px;
    
              &._center {
                justify-content: center;
              }

              @include --tablet {
                display: contents;
                padding-top: 0px;
              }
            }
    
            &-section {
              display: flex;
              align-items: center;
              column-gap: 4px;
    
              font-size: 14px;
              font-weight: 700;
              line-height: 17.12px;
              color: var(--text-color);
              margin-bottom: 10px;
    
              &._subsection {
                font-size: 13px;
                font-weight: 400;
                line-height: 15.9px;    
                margin-bottom: 3px;
                color: var(--text-color-gray);

                @include --tablet {
                  min-width: 100%;
                  margin-bottom: 0px;
                }
              }
    
              a {
                // &::after {
                //   content: attr(data-product-count);
                //   display: inline-block;
                //   padding-left: 4px;
                //   font-weight: 400;
                //   color: var(--text-color-gray);
                //   text-decoration: underline;
                //   text-underline-offset: 4px;
                //   text-decoration-thickness: 1px;
                //   text-decoration-color: var(--submenu-background);
                // }

                span:first-child {
                  text-decoration: underline;
                  text-underline-offset: 4px;
                  text-decoration-thickness: 1px;

                  @include hover-transition {
                    text-decoration: none;
                  }
                }
              }
    
              @include hover-transition {
                text-decoration: none;
              }

              @include --tablet {
                max-width: calc(100% - 70px - 10px);
              }
            }

            @include --tablet {
              flex-wrap: wrap;
              gap: 3px 0px;
            }
          }
        }

        @include --laptop {
          grid-template-columns: repeat(2, 1fr);
        }

        @include --tablet {
          grid-template-columns: 1fr;
          gap: 10px 10px;
          position: static;
          transform: unset;
          padding: 14px 0px 30px 0px;

          .dropdown-overlay { display: none; }
        }
      }
    }

    @include --tablet {
      &._visible {
        .dropdown-content:not(._catalog) {
          position: static;
          z-index: 1;
          visibility: visible;
          opacity: 1;
          transition: opacity $default-tr;
  
          >li {
            &:first-child {display: none;}
          }
        }

        .dropdown-link {
          svg {
            transform: rotate(180deg);
          }

          .main_link {
            color: var(--color-accent);
          }
        }
      }
    }
  }

  &__side-nav {
    display: flex;
    margin: 0 0 0 auto;

    @include --tablet {
      flex: 1;
      flex-direction: column;
      margin: 0;
    }

    ul {
      display: flex;
      gap: 2.4rem;
      align-items: center;

      @include --tablet {
        flex: 1;
        flex-direction: column;
        align-items: stretch;
      }

      a[href^='tel'] {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 2rem;
        letter-spacing: 2px;
        transition: color $default-tr;

        @include --tablet {
          width: 100%;
        }

        svg {
          @include box(4.5rem);

          display: none;
          color: var(--color-accent);

          @include --tablet {
            display: inherit;
            margin-left: auto;
          }

        }

        @include hover {
          color: var(--color-accent-dark);
        }
      }

      li {
        &:nth-child(1) {
          @include --tablet {
            order: 3;
            margin: auto 0 0;
          }
        }

        &:nth-child(4) {
          @include --tablet {
            display: none;
          }
        }
      }
    }
  }
}
