.not-available {
  display: flex;
  align-items: center;
  min-height: calc(100vh - var(--header-height) - 4.4rem);
  overflow: hidden;

  @include --tablet {
    min-height: calc(100vh - var(--header-height) - 2.4rem);

    .app-grid {
      gap: 5.6rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include --tablet {
      flex: 1;
      gap: 3.2rem;
    }

    .btn {
      flex-shrink: 0;
      margin: auto 0 0;
    }
  }

  &__error-code {
    @include --tablet {
      order: -1;
    }

    svg {
      width: 98rem;
      height: 36.6rem;

      @include --tablet {
        width: 33rem;
        height: 12.3rem;
      }
    }
  }
}
