.tg-widget {
    position: fixed;
    @include flex($flex-direction: column, $gap: 28px);

    border-radius: 16px;
    border: 1px solid var(--color-grey-8);
    background-color: var(--color-contrast);

    right: 8rem;
    bottom: 4rem;
    width: 64.3rem;
    max-width: calc(100% - 9.2rem);
    padding: 32px 40px;
    z-index: $layer-tooltip-z-index;

    &__wrapper {
        display: flex;
        column-gap: 40px;
        align-items: flex-start;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 28px;

        .text {
            font-weight: 700;
            font-size: 18px;
            line-height: 120%;
            text-transform: uppercase;
    
            a {
                color: var(--color-accent);
            }
        }
    }

    &__close {
        position: relative;
        min-width: 16px;
        height: 16px;
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 7px;
          top: 0;
          width: 2px;
          height: 16px;
          background-color: var(--color-accent);
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
    }

    .btn {
        font-size: 18px;
        padding: 16px 24px;

        @include --mobile {
            width: 100%;
        }
    }

    @include --tablet {
        bottom: 1.6rem;

        &__wrapper {
            column-gap: 32px;
        }

        &__content {
            .text {
                font-size: 16px;
            }
        }
    }

    @include --mobile {
        padding: 20px 16px;

        &__content {
            .text {
                font-size: 14px;
            }
        }
    }
    
    @include --phone {
        &__wrapper {
            column-gap: 24px;
        }
    }
}