.tg-bottom {
    @include flex($justify-content: space-between, $align-items: center, $gap: 3.2rem);

    p {
        color: var(--color-grey-3);
    }

    @include --tablet {
        flex-direction: column;

        .btn {
            width: 100%;
        }
    }
}