// visually hide element without display: none;
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

// hide single line text only
@mixin text-hidden {
  overflow: hidden;
  color: transparent;
  text-indent: 101%;
  text-shadow: none;
}
