.about-main
    +app-grid(3, 1)
        .about-main__description.app-grid__span-2
            p.about-main__lead «ПИКЕЙ» — это производство качественной арматуры для подвеса кабеля ВОЛС и СИП, надежный поставщик волоконно-оптического кабеля
            p В 2017 году мы запустили в производство широкий ассортимент арматуры для монтажа ВОЛС и СИП.На всех этапах мы осуществляем непрерывный контроль качества изделий. Производственные мощности и современное оборудование компании позволяет выпускать продукцию наилучшего качества в любых объемах и в короткие сроки.В команде "ПИКЕЙ" работают опытные и квалифицированные специалисты, способные решать самые сложные задачи в кратчайшие сроки. Наша продукция уже используется в составе линий ВОЛС более чем в 53 регионах Российской Федерации.
        .about-main__image
            img(src='/i/c/about-main/1.png', srcset='/i/c/about-main/1.png 1x, /i/c/about-main/1@2x.png 2x' alt='Стилизованное изображение логотипа компании')
