.app-popup.js-app-popup(style='display: none;')
    .app-popup__inner.js-app-popup-inner
        .container.app-popup__container
            .app-popup__content
                p.js-app-popup-content
                +btn({ caption: 'Закрыть' })(class="js-app-popup-btn")

