.cookie-popup#cookie-popup
    .container
        .cookie-popup__inner
            p Мы используем куки на нашем сайте. Подробная информация в #[a(href="/privacy") политике конфиденциальности].
            +btn({
                caption: 'Понятно',
                variant: 'white',
            })
