mixin spinner(props = {})
    -
        const {
            isContrast = false,
        } = props

        const svg = `
            <svg width="81" height="30" viewBox="0 0 81 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1063_6324)">
            <path d="M4.55163e-07 28.9434V21.9323C8.62651e-05 21.7113 0.0712929 21.496 0.203322 21.3176C0.335352 21.1392 0.521359 21.007 0.734447 20.94L15.9645 16.18C16.0623 16.1494 16.1477 16.0888 16.2083 16.0069C16.2688 15.925 16.3014 15.8261 16.3013 15.7247V14.2554C16.301 14.1544 16.2682 14.056 16.2076 13.9745C16.1471 13.8931 16.0619 13.8327 15.9645 13.8022L0.734447 9.01434C0.521359 8.94735 0.335352 8.81509 0.203322 8.63669C0.0712929 8.4583 8.62651e-05 8.24301 4.55163e-07 8.02197V1.01308C-0.000112647 0.926878 0.0208542 0.841928 0.0611145 0.765461C0.101375 0.688995 0.159736 0.623279 0.231226 0.573916C0.302717 0.524552 0.385217 0.493001 0.471702 0.481951C0.558186 0.470901 0.646092 0.480681 0.727929 0.510454L20.4885 7.68259C22.3056 8.34233 23.8129 9.64107 24.7221 11.3304C25.6313 13.0198 25.8786 14.9812 25.4167 16.8395C25.0815 18.1055 24.4364 19.2706 23.5384 20.2322C22.6403 21.1937 21.5168 21.9222 20.2668 22.3534L0.727929 29.4417C0.646436 29.4714 0.55892 29.4812 0.472776 29.4704C0.386632 29.4595 0.304391 29.4284 0.233001 29.3795C0.161611 29.3306 0.10317 29.2655 0.0626158 29.1896C0.0220612 29.1137 0.000584625 29.0292 4.55163e-07 28.9434Z" fill="currentColor"/>
            <path d="M28.3725 29.4427L47.9135 22.3543C49.1632 21.923 50.2864 21.1945 51.1841 20.233C52.0817 19.2714 52.7264 18.1063 53.0612 16.8404C53.5232 14.9824 53.2762 13.0212 52.3674 11.3319C51.4587 9.64262 49.9519 8.3437 48.1352 7.68356L28.3725 0.511427C28.2906 0.481654 28.2027 0.471879 28.1162 0.482929C28.0297 0.493979 27.9472 0.525525 27.8758 0.574889C27.8043 0.624253 27.7459 0.689968 27.7056 0.766434C27.6654 0.842901 27.6444 0.927856 27.6445 1.01406V8.02294C27.6446 8.24398 27.7158 8.45927 27.8479 8.63766C27.9799 8.81606 28.1659 8.94832 28.379 9.01532L43.6112 13.8032C43.7084 13.8338 43.7933 13.8942 43.8535 13.9757C43.9136 14.0572 43.946 14.1555 43.9458 14.2564V15.7256C43.9459 15.8271 43.9134 15.9259 43.8528 16.0078C43.7922 16.0897 43.7068 16.1504 43.609 16.181L28.3898 20.9388C28.1768 21.0058 27.9907 21.1381 27.8587 21.3165C27.7267 21.4948 27.6555 21.7101 27.6554 21.9312V28.9422C27.6562 29.0269 27.6774 29.1103 27.7172 29.1853C27.7571 29.2604 27.8143 29.325 27.8844 29.3739C27.9544 29.4227 28.0352 29.4545 28.12 29.4664C28.2049 29.4784 28.2914 29.4703 28.3725 29.4427Z" fill="currentColor"/>
            <path d="M56.017 29.4429L75.5581 22.3545C76.808 21.9234 77.9316 21.1949 78.8296 20.2334C79.7277 19.2718 80.3727 18.1067 80.7079 16.8406C81.1698 14.9823 80.9225 13.021 80.0133 11.3316C79.1041 9.64224 77.5968 8.3435 75.7797 7.68376L56.017 0.509477C55.9352 0.479704 55.8473 0.469925 55.7608 0.480975C55.6743 0.492025 55.5918 0.523576 55.5203 0.572939C55.4488 0.622303 55.3904 0.688018 55.3502 0.764485C55.3099 0.840951 55.2889 0.925902 55.2891 1.01211V8.02099C55.2891 8.24204 55.3604 8.45732 55.4924 8.63572C55.6244 8.81411 55.8104 8.94637 56.0235 9.01337L71.2557 13.8012C71.353 13.8318 71.4378 13.8922 71.498 13.9737C71.5582 14.0552 71.5905 14.1536 71.5903 14.2545V15.7237C71.5908 15.8252 71.5584 15.9242 71.4978 16.0062C71.4371 16.0881 71.3515 16.1487 71.2535 16.1791L56.0235 20.939C55.8104 21.006 55.6244 21.1383 55.4924 21.3167C55.3604 21.495 55.2891 21.7103 55.2891 21.9314V28.9424C55.2893 29.0284 55.3105 29.1131 55.3509 29.1893C55.3913 29.2655 55.4497 29.3309 55.5212 29.38C55.5926 29.4292 55.675 29.4605 55.7613 29.4715C55.8476 29.4824 55.9353 29.4726 56.017 29.4429Z" fill="currentColor"/>
            </g>
            <defs>
            <clipPath id="clip0_1063_6324">
            <rect width="81" height="29" fill="white" transform="translate(0 0.477539)"/>
            </clipPath>
            </defs>
            </svg>
        `

    #spinner.spinner.js-spinner(class={'_contrast': isContrast})
        .spinner__bg
        .spinner__inner!= svg

