.category-card {
  position: relative;
  min-width: 0;
  background-color: var(--element-background);

  @include hover {
    img {
      transform: scale(1.1);
    }
  }

  &__image {
    aspect-ratio: 4 / 3;
    overflow: hidden;

    img {
      @include box(100%);

      object-fit: cover;
      transition: transform $default-tr;
    }
  }

  &__description {
    padding: 1.6rem;
    overflow-wrap: break-word;

    @include --mobile {
      padding: 0.8rem;
    }
  }

  &__title {
    @include text-button-bold;

    letter-spacing: 0.36px;
    text-transform: uppercase;

    @include --mobile {
      font-size: 1.3rem;
      line-height: 1.7rem;
    }
  }

  a {
    &::before {
      position: absolute;
      inset: 0;
      content: '';
    }
  }
}
