.catalog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  min-width: 0;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: var(--element-background);

  @include --mobile {
    padding: 0.8rem;
  }

  @include hover {
    .catalog-card__image {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__image {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    border-radius: 0.8rem;
    overflow: hidden;

    img {
      @include box(100%);

      object-fit: cover;
      transition: transform $default-tr;
    }
  }

  &__title {
    @include text-bold-sm;

    margin-bottom: .6rem;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;

    @include --mobile {
      align-items: flex-start;
      min-height: 2.8rem;
      font-size: 1.4rem;
    }

    ._product & {
      text-align: center;
      text-transform: none;
    }
  }

  &__link {
    &::before {
      position: absolute;
      inset: 0;
      content: '';
    }
  }

  &__article {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: var(--text-color-gray);

    @include --tablet {
      font-size: 1.2rem;
      line-height: 120%;
    }
  }

  &__available {
    margin-bottom: 1rem;

    span { 
      justify-content: center;
    }

    @include --tablet {
      margin-bottom: .2rem;

      span { 
        font-size: 1.4rem;
      }
    }
  }

  &__btn {
    margin: 0px auto;
    margin-top: auto;
    z-index: $base_project_layer;

    .btn {
      padding: 1rem 1.4rem;
      font-size: 1.4rem;

      @include --tablet {
        border-radius: 2rem;
        padding: .8rem 1.4rem;
        font-size: 1rem;
      }

      @include --phone {
        font-size: 1.2rem;
      }
    }
  }

  &__cart {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    z-index: 1;

    @include --mobile {
      top: 1rem;
      right: 1rem;
    }

    &._cart {
      svg {
        color: var(--color-accent);
        stroke-width: 3;
      }
    }
  }
}
