.favorites-card {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  padding: 2.4rem 0;
  border-bottom: 1px solid var(--color-grey-6);

  @include --tablet {
    align-items: flex-start;
  }

  &:first-child {
    padding: 0 0 2.4rem;
  }

  &:last-child {
    padding: 2.4rem 0 0;
  }

  &:last-child {
    border: none;

    @include --tablet {
      padding: 2.4rem 0;
      border-bottom: 1px solid var(--color-grey-6);
    }
  }

  &__image {
    flex-shrink: 0;
    width: 20rem;
    height: 14rem;

    @include --tablet {
      width: 9.6rem;
      height: 6.7rem;
    }

    img {
      @include box(100%);

      object-fit: contain;
    }
  }

  &__title {
    a {
      @include text;

      transition: color $default-tr;

      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__subtitle {
    color: var(--color-grey-1);
  }

  &__button {
    flex-shrink: 0;
    margin-left: auto;
  }
}
