mixin dealer-card(props = {})
    -
        const {
            title = 'Название диллера одной строкой',
            address = 'Московская область, г. Мытищи, ул. Дилерская, 74, к 5',
            email = 'pochta@dealerhub.ru',
            tel = '+7 495 394-57-49',
            link = {
                href: '#',
                caption: 'dealerhub.com'
            },
            image = {
                src: '/i/c/about/partners/partner-1.svg',
                alt: 'Самый любимый партнер',
            }
        } = props

    article.dealer-card
        .dealer-card__inner
            h2.dealer-card__title Название диллера одной строкой
            .dealer-card__contacts-wrapper
                .dealer-card__contacts
                    address.dealer-card__address Московская область, г. Мытищи ул. Дилерская, 74, к 5
                    .dealer-card__links
                        a(href=`tel:${tel}`)= tel
                        a(href=`mailto:${email}`)= email
                a.dealer-card__link(href= link.href target="_blank" data-away)
                    | #{link.caption}
                    +sprite('link')

        if image
            .dealer-card__logo
                img(src= image.src, alt= image.alt)

