extends /layout/_layout

include /modules/ui/_breadcrumbs
include /modules/cards/_news-card
include /modules/cards/_promo-card
include /modules/_text-content-slider
include /modules/_news-preview

block variables
    - const title = 'Новые телеги для УЗК с оптимальными размерами'

block content
    .container
        +breadcrumbs({
            items: [
                {
                    label: 'Главная',
                    attributes: {
                        href: '/',
                        itemprop: 'item',
                    }
                },
                {
                    label: 'Новости',
                    attributes: {
                        href: '/catalog.html',
                        itemprop: 'item',
                    }
                },
                {
                    label: 'Новые телеги для УЗК с оптимальными размерами',
                    attributes: {
                        href: '#',
                        itemprop: 'item',
                    }
                },
            ]
        })

        section.app-section._meta._title-md
            +app-grid(3)
                .app-grid__span-2
                    .app-section__head
                        h1.app-section__title Новые телеги для УЗК с оптимальными размерами
                    .app-section__meta
                        time.js-date(datetime='1691787600000') 10/10/2023
                    .app-section__image
                        img(src='/i/c/news/news-detail-1.jpg' srcset='/i/c/news/news-detail-1@2x.jpg' alt='Новые телеги для УЗК с оптимальными размерами')
                    .app-section__content
                        .text-content
                            p.text-lead Благодаря тормозу можно замедлить скорость вращения кассеты или зафиксировать ее для предотвращения самопроизвольного разматывания стеклопрутка.
                            p Мы улучшили конструкции приспособлений для закладки кабеля. Теперь перевозить и хранить кабели стало удобнее. Новые размеры тележки с кассетой для УЗК с диаметром прутка 9 и 11 мм составляют 1000х410х1150 мм. Это позволяет осуществлять перевозку устройств УЗК в большинстве автомобилей с типом кузова "универсал" и "кроссовер".
                            p Все наши устройства закладки кабеля УЗК с диаметром прутка 9 и 11 мм оснащены специальным тормозом, который установлен на оси. Благодаря тормозу можно замедлить скорость вращения кассеты или зафиксировать ее для предотвращения самопроизвольного разматывания стеклопрутка. Для защиты от коррозии мы покрыли раму УЗК прочным порошково-полимерным покрытием ярко-синего сигнального цвета (RAL 5005).
                            ul
                                li пункт
                                li еще пункт
                                    ul
                                        li пункт
                                        li еще пункт
                            +text-content-slider({
                                slides: new Array(7).fill(null).map((_, index) => {
                                    return {
                                        image: {
                                            src: `/i/c/about/preview-slider/slide-${index + 1}.jpg`,
                                            src2x: `/i/c/about/preview-slider/slide-${index +1}@2x.jpg`
                                        }
                                    }
                                })
                            })
                            p.text-lead Благодаря тормозу можно замедлить скорость вращения кассеты или зафиксировать ее для предотвращения самопроизвольного разматывания стеклопрутка.
                            p Мы улучшили конструкции приспособлений для закладки кабеля. Теперь перевозить и хранить кабели стало удобнее. Новые размеры тележки с кассетой для УЗК с диаметром прутка 9 и 11 мм составляют 1000х410х1150 мм. Это позволяет осуществлять перевозку устройств УЗК в большинстве автомобилей с типом кузова "универсал" и "кроссовер".
                            p Все наши устройства закладки кабеля УЗК с диаметром прутка 9 и 11 мм оснащены специальным тормозом, который установлен на оси. Благодаря тормозу можно замедлить скорость вращения кассеты или зафиксировать ее для предотвращения самопроизвольного разматывания стеклопрутка. Для защиты от коррозии мы покрыли раму УЗК прочным порошково-полимерным покрытием ярко-синего сигнального цвета (RAL 5005).
                            ul
                                li пункт
                                li еще пункт
                                    ul
                                        li пункт
                                        li еще пункт
                .aside
                    +promo-card()


        section.app-section._title-sm
            .app-section__head
                h2.app-section__title Другие новости
            .app-section__content
                ul.news-preview
                    -
                        const news = [
                            {
                                date: '20 июля 2023',
                                datetime: '2023-07-19T21:00:00.000Z',
                                title: 'Прошли систему сертификации %certificate_name%, подтверждающую %properties% нашей продукции',
                                href: '#'
                            },
                            {
                                date: '07 июля 2023',
                                datetime: '2023-07-06T21:00:00.000Z',
                                title: 'Запустили новый завод, теперь сами делаем оптоволоконный кабель',
                                href: '#'
                            },
                        ]

                    each item in news
                        li
                            +list-link({
                                datetime: item.datetime,
                                date: item.date,
                                href: item.href,
                                title: item.title,
                                icon: 'link',
                            })



