ul.search-results
    li.search-result
        a.search-result__link(href="#")
            span.search-result__item-name Протектор защитный спиральный
            span.search-result__delimeter /
            span.search-result__category каталог > анкерные зажимы для ок
    li.search-result
        a.search-result__link(href="#")
            span.search-result__item-name Протектор защитный спиральный
            span.search-result__delimeter /
            span.search-result__category каталог > анкерные зажимы для ок
    li.search-result
        a.search-result__link(href="#")
            span.search-result__item-name Протектор защитный спиральный
            span.search-result__delimeter /
            span.search-result__category каталог > анкерные зажимы для ок
    li.search-result._no-results
        span.search-result__link
            span.search-result__item-name По вышему запросу ничего не найдено
    li.search-result
        a.search-result__link(href="#")
            span.search-result__item-name Показать все результаты (3)
