html {
  --app-background: #f6f6f6;
  --element-background: #fff;
  --color-contrast: #fff;
  --color-accent: #e6360c;
  --color-accent-dark: #d12a03;
  --color-accent-light: #f0876f;
  --text-color: #2F2F2F;
  --color-text-accent: #fff;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.7);
  --color-grey-1: #b0b0b0;
  --color-grey-2: #c8c8c8;
  --color-grey-3: #6f6f6f;
  --color-grey-4: #f6f6f6;
  --color-grey-5: #9e9ea6;
  --color-grey-6: #e2e2e2;
  --error-color: #e6360c;
  --color-overlay: rgba(0, 0, 0, 0.3);
  --color-overlay-2: rgba(0, 0, 0, 0.8);

  --color-shadow-accent: rgba(230, 57, 17, 0.16);
  --color-shadow-outline: rgba(230, 57, 17, 0.64);
  --accent-gradient: linear-gradient(156deg, rgba(230, 54, 12, 0.90) 0%, rgba(230, 54, 12, 0.00) 70%);
  --accent-gradient-2: linear-gradient(58deg, #E6360C 9.6%, rgba(255, 0, 0, 0.00) 79.29%);
  --menu-shadow: 0px 0px 1rem 0.6rem rgba(111, 111, 111, 0.3);
}
